*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Outfit", system-ui;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: hsl(0, 0%, 8%);
  }



  body { display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; }
  
  .container {
    background-color:  hsl(0, 0%, 12%);
    width: 384px;
    height: 620px;
    border-radius: 15px;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .avatar-img img {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    padding: 5px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .container h1 {
    color: white;
    font-weight: 500;
    font-size: 1.65rem;
  }

  .container h2 {
    margin-top: 0.15rem;
    color: hsl(75, 94%, 57%);
    font-size: 0.9rem;
    font-weight: 600;
  }

.container p{
  margin-top: 0.75rem;
  color: white;
  font-weight: 200;
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.links-container{
margin-top: 0.75rem;
font-weight: 900;
}

.links-menu li {
  list-style-type: none;
  width: 304px;
  height: 45px;
  text-align: center;
  margin: 1rem 0;
  border-radius: 8px;
  font-weight: 700;
  overflow: hidden;
}

.links-menu li a {
  background-color: #333333;
  text-decoration: none;
  color: white;
  width: 304px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in;


}

.links-menu li a:hover{
  background-color:hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}


@media screen and (max-width: 500px) {

  .container {
    width: 90%;
    height: 620px;
  }

  .links-menu li a {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 280px) {


  .links-menu li {

    width: 260px;
} 
}